# GitHub Configuration
GITHUB_ACCESS_TOKEN=<Git Hub Pat Token>
GITHUB_REPOSITORY=<Repository Path>
#  GITHUB_REPOSITORY=twbs/bootstrap
GITHUB_START_DATE=<Start Date>


MARKDOWN_DESTINATION_PATH=<Destination Path>

OPENAI_API_KEY=sk-your-openai-key
GEMINI_API_KEY=your-gemini-key
GROQ_API_KEY=your-groq-key
ANTHROPIC_API_KEY=your-anthropic-key